/* Importação de Arquivos e Fontes */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://lucasavance.github.io/md/menudino/fonts/stylesheet.css');


/* Corpo do Site */
body,
.wrapper > section {
    font-family: "SulSans", sans-serif;
    background-color: #fff;
}


/* Barra Superior */
.brand-logo {
    padding: 5px 40px !important;
}

.brand-logo > img {
    content: url(https://lucasavance.github.io/md/menudino/images/logo-color.png);
}

.brand-logo-t {
    display: none;
}

.brand-logo-t {
    padding: 10px 10px 10px 5px;
}

@media only screen and (max-width: 767px) {
    .brand-logo-t {
        display: block;
        -webkit-animation: fadeIn 1s;
        -o-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .brand-logo-t img {
        max-height: 48px;
    }

    .brand-logo,
    .brand-logo-collapsed {
        display: none !important;
    }
}

.topnavbar {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    min-height: 67px;
}

.topnavbar,
.topnavbar .navbar-header {
    background: none;
    background-color: #fff;
}

.topnavbar .navbar-nav > li > a,
.topnavbar .navbar-nav > .open > a,
.navbar-opcao-entrega,
.topnavbar .fa-navicon,
.topnavbar .icon-basket,
.topnavbar .icon-magnifier {
    color: #3e3e3e !important;
}


/* Topo */

.cardapio-header {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 10px;
    max-height: 200px;
}

.cardapio-header .icon {
    background: none !important;
    max-height: 110px;
    width: 100%;
    display: none;
}

.cardapio-header .icon img {
    border: none;
}

.cardapio-header address,
.cardapio-header .fa.fa-clock-o,
.cardapio-header .tempoEstimadoSelected,
.cardapio-header h1 {
    display: none;
}

#cardapio .cardapio-header .bg {
    background-image: url("https://lucasavance.github.io/md/menudino/images/bg-topo.jpg");
}

.cardapio-header .gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0));
}

/* Infos Restaurante */
.dm-infos {
    text-align: center;
    line-height: 4rem;
    color: #a6a6a6;
}

.dm-infos h3 {
    font-size: .7em;
    color: #a6a6a6;
}

.dm-infos h3 a i,
.dm-infos h3 a address,
.dm-infos h3 a span {
    display: inline;
    color: #a6a6a6;
    font-weight: 100 !important;
    font-size: 14px;
}

.dm-infos h3 {
    padding: 0 !important;
}

/* Status Restaurante */
.status_restaurante {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    font-weight: 100;
    width: 100%;
    background: #fff;
    text-align: center;
}

.status_restaurante .label-fechado,
.status_restaurante .label-aberto {
    display: block;
    font-size: .9em;
    font-weight: 200;
    width: 100%;
}

.label-fechado,
.label-aberto {
    display: none;
}

/* Footer */
.layout-h .wrapper > footer {
    font-size: .8em;
    font-weight: 100;
    margin-bottom: 30px;
    padding: 15px;
    height: 84px;
}

.layout-h .wrapper > footer a {
    color: #656565;
    text-decoration: none;
}

.wrapper > section {
    margin-bottom: 114px !important;
}

/* Cardápio */
#cardapio .cardapio-body h3 {
    border: none;
}

#cardapio .products li {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 30px 0 10px;
    padding-left: .5em;
}

#cardapio .products li .imagem {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#cardapio .media-right {
    display: table-cell;
    vertical-align: middle;
}

h3 a {
    text-transform: capitalize;
    font-size: .6em;
    font-weight: 300;
}

.name {
    font-size: 2rem !important;
    line-height: 4rem !important;
    font-weight: 400 !important;
    color: #3f3e3e !important;
}

.product-description {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-weight: lighter;
    font-size: 16px;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.price {
    font-size: 1em !important;
    color: #50a773 !important;
}


/* Modal Lanche */

.text-success {
    color: #00966A !important;
}


.modal-body {
    padding: 0;
}

.modal-content {
    border: transparent;
    border-style: none;
}

.modal-header {
    min-height: 50px;
    background: #fff;
}

.modal-footer {
    text-align: center;
}

.btn-corpofechar-pedido {
    margin: 0;
    z-index: 1;
    border-radius: 0;
    height: 50px;
    width: 50px;
    left: 0px;
    top: 0;
    padding: 10px;
    background: none;
    position: absolute;
}

.pedido-titulo {
    font-size: 14px;
    font-weight: 200;
    left: 0;
    margin: 0;
    padding: 2px 50px 0 50px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 0;
}

.capa-lanche {
    width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 767px) {
    .modal-mobile-full .modal-body {
        margin-bottom: 82px;
    }
    .modal-mobile-full #produtoModalImagePath {
        max-height: 100%;
        max-width: 100%;
    }
    .modal-footer {
        background: #00966A !important;
    }

}

.modal-mobile-full .modal-footer {
    min-height: 0;
}

.modal-footer .btn {
    font-weight: bold;
    background: #f47134;
    font-weight: 100;
}

.modal-footer .btn-lg {
    font-size: 20px
}

.modal-footer .form-group-qtd {
    border-radius: 4px;
    overflow: hidden;
}

.modal-footer #Quantidade{
    font-size: 16px;
    background: #fff;
    border: none;
    border-radius: 0;
    height: 45px;
}

.modal-footer .form-group-qtd  .btn-plus,
.modal-footer .form-group-qtd .btn-minus {
    height: 45px;
    font-size: 12px;
    color: #ea1d2c;
    background: #fff;
    border: 0;
    border-radius: 0;
}

.modal-footer .form-quantidade {
    padding: 0;
    height: 45px;
    border: none;
    border-radius: 0;
    margin: 0;
}

.modal-footer .form-group {
    margin-bottom: 0;
}

.modal-footer .flex-item .mr{
    width: 33.33333%;
    flex:none;
}


.modal-footer .flex-item .ml {
    flex:none;
    width: 66.66667%;
}

.panel-danger > .panel-heading {
    background-color: #f2f2f2;
    color: #3f3e3e;
}

.panel-title {
    font-size: 16px;
    font-weight: 300;
}


/* Modal Promo */

.modal-promo.modal {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    background: #00000080;
}

.modal-promo .modal-header {
    background: none;
    border: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.modal-promo .modal-title {
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

.modal-promo .modal-footer {
    background: #00966A;
    font-weight: 800;
    letter-spacing: -.1rem;
    min-height: 100px;
    border: none;
}

.modal-promo .modal-body {
    background: url("../menudino/images/bg-promo.jpg") center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.modal-promo .promo-title {
    font-size: 1.13em;
}

.modal-promo .cor-secundaria {
    color: #e4ae45;
}

/* Modal Promo Mobile */

@media only screen and (max-width: 767px) {
    .modal-promo .modal-body {
        margin-bottom: 100px;
    }
}
