/* Importação de Arquivos e Fontes */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://cloob.com.br/menudino/fonts/stylesheet.css');

body, .wrapper > section {
    font-family: "SulSans", sans-serif;
    background-color: #fff;
}

.cardapio-header .icon {
    background: none !important;
    max-height: 110px;
    width: 100%;
}

.cardapio-header .icon img {
    border: none;
}

.cardapio-header h1 {
    opacity: 0;
}

#cardapio .cardapio-header .bg {
    background-image: url("https://cloob.com.br/menudino/images/bg-burguer.jpg");
}

.cardapio-header .gradient {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(20%,rgba(0,0,0,.4)),to(rgba(0,0,0,.8)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.4) 20%,rgba(0,0,0,.8));
    background-image: linear-gradient(180deg,rgba(0,0,0,.4) 20%,rgba(0,0,0,.8));
}

#cardapio .cardapio-body h3 {
    border: none;
}

#cardapio .products li {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    margin: 30px 0 10px;
    padding-left: .5em;
}

#cardapio .products li .imagem {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#cardapio .media-right {
    display: table-cell;
    vertical-align: middle;
}

h3 a {
    text-transform: capitalize;
    font-size: .6em;
    font-weight: 300;
}

.name {
    font-size: 2rem !important;
    line-height: 4rem !important;
    font-weight: 400 !important;
    color: #3f3e3e !important;
}

.product-description {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.price {
    font-size: 1em !important;
    color: #50a773 !important;
}

.price::before {
    content: 'R$ ';
}
